BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignConsecutiveDeclarations:
  PadOperators: true
AlignOperands: AlignAfterOperator
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLambdasOnASingleLine: All
BinPackArguments: true
BinPackParameters: true
BraceWrapping:
  AfterControlStatement: false
  BeforeCatch: true
  BeforeElse: true
  BeforeWhile: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakBeforeBraces: Custom
BreakConstructorInitializers: BeforeComma
BreakTemplateDeclarations: Yes
ColumnLimit: 100
EnumTrailingComma: Insert
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"Rux/'
    Priority: 1
    SortPriority: 1
  - Regex: '^<'
    Priority: 2
    SortPriority: 2
  - Regex: '.*'
    Priority: 3
    SortPriority: 3
IndentPPDirectives: BeforeHash
InsertBraces: true
InsertNewlineAtEOF: true
IntegerLiteralSeparator:
  Binary: 4
  BinaryMinDigits: 4
  Decimal: 3
  DecimalMinDigits: 7
  Hex: 4
  HexMinDigits: 8
KeepEmptyLines:
  AtStartOfBlock: false
MaxEmptyLinesToKeep: 2
NamespaceIndentation: None
PPIndentWidth: 4
PackConstructorInitializers: Never
PointerAlignment: Right
QualifierAlignment: Right
RemoveParentheses: ReturnStatement
RemoveSemicolon: true
SeparateDefinitionBlocks: Always
SortIncludes:
  Enabled: true
  IgnoreCase: false
IndentWidth: 4
TabWidth: 4